$color-palette-1: (
  // Primary colors
  pr-1: #044e54,
  pr-2: #0a6c74,
  pr-3: #0e7c86,
  pr-4: #14919b,
  pr-5: #2cb1bc,
  pr-6: #38bec9,
  pr-7: #54d1db,
  pr-8: #87eaf2,
  pr-9: #bef8fd,
  pr-10: #e0fcff,
  // Neutrals
  nt-1: #102a43,
  nt-2: #243b53,
  nt-3: #334e68,
  nt-4: #334e68,
  nt-5: #627d98,
  nt-6: #829ab1,
  nt-7: #9fb3c8,
  nt-8: #bcccdc,
  nt-9: #bcccdc,
  nt-10: #f0f4f8,
  // Supporting
  // indigo
  sp-ndg-1: #19216c,
  sp-ndg-2: #2d3a8c,
  sp-ndg-3: #35469c,
  sp-ndg-4: #4055a8,
  sp-ndg-5: #4c63b6,
  sp-ndg-6: #647acb,
  sp-ndg-7: #7b93db,
  sp-ndg-8: #7b93db,
  sp-ndg-9: #bed0f7,
  sp-ndg-10: #e0e8f9,
  // pink
  sp-pnk-1: #5c0b33,
  sp-pnk-2: #781244,
  sp-pnk-3: #9b1b5a,
  sp-pnk-4: #9b1b5a,
  sp-pnk-5: #9b1b5a,
  sp-pnk-6: #da4a91,
  sp-pnk-7: #e668a7,
  sp-pnk-8: #f191c1,
  sp-pnk-9: #f191c1,
  sp-pnk-10: #f191c1,
  // red
  sp-red-1: #610404,
  sp-red-2: #780a0a,
  sp-red-3: #780a0a,
  sp-red-4: #780a0a,
  sp-red-5: #ba2525,
  sp-red-6: #ba2525,
  sp-red-7: #ba2525,
  sp-red-8: #ba2525,
  sp-red-9: #facdcd,
  sp-red-10: #ffeeee,
  // yellow
  sp-ylw-1: #513c06,
  sp-ylw-2: #7c5e10,
  sp-ylw-3: #a27c1a,
  sp-ylw-4: #c99a2e,
  sp-ylw-5: #e9b949,
  sp-ylw-6: #f7d070,
  sp-ylw-7: #f9da8b,
  sp-ylw-8: #f8e3a3,
  sp-ylw-9: #fcefc7,
  sp-ylw-10: #fffaeb,
  // green
  sp-grn-1: #05400a,
  sp-grn-2: #0e5814,
  sp-grn-3: #207227,
  sp-grn-4: #2f8132,
  sp-grn-5: #3f9142,
  sp-grn-6: #57ae5b,
  sp-grn-7: #7bc47f,
  sp-grn-8: #a3d9a5,
  sp-grn-9: #a3d9a5,
  sp-grn-10: #e3f9e5,
  // blue
  sp-ble-1: #003e6b,
  sp-ble-2: #003e6b,
  sp-ble-3: #003e6b,
  sp-ble-4: #186faf,
  sp-ble-5: #2680c2,
  sp-ble-6: #2680c2,
  sp-ble-7: #2680c2,
  sp-ble-8: #2680c2,
  sp-ble-9: #2680c2,
  sp-ble-10: #2680c2
);
