@use "./functions" as *;

// getText
@mixin text($value: 400) {
  font-size: getFontSize($value);
  line-height: getLineHeight($value);
}

// styling
@mixin pageMinHeight() {
  // calc(100vh - headerHeight - footerHeight)
  min-height: calc(100vh - 0 - 0);

  @include md {
    min-height: calc(100vh - 0 - 0);
  }

  @include lg {
    min-height: calc(100vh - 0 - 0);
  }
}

@mixin sectionPadding() {
  padding: getPadding(1200) 0;

  @include md {
    padding: getPadding(1400) 0;
  }
}

@mixin backgroundImage($path: "") {
  background-image: url($path);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
